* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#0f2027), color-stop(#203a43), to(#2c5364));
  background: linear-gradient(#0f2027, #203a43, #2c5364);
  background-size: cover;
  opacity: 0.8;
  font-family: "Comfortaa";
  /* overflow: hidden; */
  /*line below added because of viewport problem on chrome mobile*/
  height: calc(var(--mh, 1vh) * 100);
}

.gallery-image-container {
  -webkit-column-count: 3;
          column-count: 3;
  padding: 20px;
  margin-top: 20px;
}

.image-box {
  margin: 5px;
  display: inline-block;
}

.image-box img {
  width: 100%;
  border: 1px dotted #dc1e1e;
  border-radius: 10%;
}
