* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#0f2027), color-stop(#203a43), to(#2c5364));
  background: linear-gradient(#0f2027, #203a43, #2c5364);
  background-size: cover;
  opacity: 0.8;
  font-family: "Comfortaa";
}

.gallery-image-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px;
  margin-top: 20px;
}

.image-box {
  margin: 5px;
  display: inline-block;
}

.image-box img {
  width: 100%;
  border: 1px dotted #fff;
}
