* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #141e30;
  background-size: cover;
  font-family: "Comfortaa";
  height: calc(var(--mh, 1vh) * 100);
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

.fullOverlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
  opacity: 0;
}

.active {
  opacity: 1;
  display: block;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

#zoom-box {
  left: 50%;
  -webkit-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
  z-index: 999;
  position: fixed;
  display: block;
}

#zoom-box img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.gallery-title {
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
  background: inherit;
  opacity: 0.8;
  font-size: 2rem;
  position: fixed;
  z-index: 50;
}

.gallery-title .back-gallery-button {
  margin-left: 2rem;
  background: url("../img/back.png");
  background-size: cover;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.gallery-title .back-gallery-button:hover {
  background-color: #dc1e1e;
}

.gallery-title p {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px 8px #dc1e1e;
}

.container {
  margin: 100px 20px 20px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 12rem;
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.gallery-image-container {
  height: 100%;
}

.image-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.image-item:hover .zoom-info {
  opacity: 0.8;
  -webkit-animation: moveDown 0.3s linear;
          animation: moveDown 0.3s linear;
}

.image-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-bottom: 1px solid #dc1e1e;
  border-right: 1px solid #dc1e1e;
  -webkit-box-shadow: 10px 10px 17px -8px rgba(220, 30, 30, 0.5);
          box-shadow: 10px 10px 17px -8px rgba(220, 30, 30, 0.5);
}

.image-box img {
  display: block;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.image-box img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.zoom-info {
  width: 100%;
  height: auto;
  padding: 5px;
  text-align: center;
  opacity: 0;
  color: white;
  background-color: #dc1e1e;
  text-transform: uppercase;
  position: absolute;
  font-size: 1.5em;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-shadow: 1px 1px 8px black;
  pointer-events: none;
  z-index: 4;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.up-button {
  background: url("../img/up.png");
  width: 80px;
  height: 80px;
  position: fixed;
  top: 85%;
  left: 90%;
  background-size: cover;
  background-color: #141e30;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.up-button:hover {
  background-color: #dc1e1e;
}

.up-button.active {
  opacity: 0.9;
  display: block;
  -webkit-animation: rotate360 1.5s;
          animation: rotate360 1.5s;
}

.width-col-1 {
  grid-column: span 1;
}

.width-col-2 {
  grid-column: span 2;
}

.height-row-1 {
  grid-row: span 1;
}

.height-row-2 {
  grid-row: span 2;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes rotate360 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate360 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes moveDown {
  0% {
    top: 10%;
  }
  50% {
    top: 25%;
  }
  100% {
    top: 50%;
  }
}

@keyframes moveDown {
  0% {
    top: 10%;
  }
  50% {
    top: 25%;
  }
  100% {
    top: 50%;
  }
}

@media screen and (max-width: 1360px) {
  .gallery-title {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 1080px) {
  .gallery-title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 992px) {
  .container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .back-gallery-button {
    width: 3rem;
    height: 3rem;
  }
  .up-button {
    left: 85%;
  }
  .gallery-title {
    font-size: 1.2rem;
  }
  .gallery-title p {
    left: 40%;
    -webkit-transform: translate(-10%, 0);
            transform: translate(-10%, 0);
  }
}

@media screen and (max-width: 680px) {
  .container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 12rem;
  }
  .image-box img:hover {
    -webkit-transform: none;
            transform: none;
  }
  .zoom-info {
    display: none;
  }
  #zoom-box, .fullOverlay {
    display: none;
  }
  .up-button {
    left: 80%;
  }

  .image-box img {
    cursor: default;

  }
  .gallery-title {
    font-size: 1rem;
  }
  .gallery-title p {
    left: 30%;
    -webkit-transform: translate(-10%, 0);
            transform: translate(-10%, 0);
  }
  .gallery-title .back-gallery-button {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 420px) {
  .container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 16rem;

  }
  .gallery-title {
    font-size: 0.8rem;
  }
  .gallery-title p {
    left: 35%;
    -webkit-transform: translate(-10%, 0);
            transform: translate(-10%, 0);
  }
  .gallery-image-container {
    grid-column: span 2;
    grid-row: span 1;
  }
  .up-button {
    left: 75%;
  }
  .back-gallery-button {
    width: 0.3rem;
    height: 0.3rem;
  }
}

@media screen and (max-width: 370px) {
  .gallery-title {
    font-size: 0.7rem;
  }
  .gallery-title p {
    left: 35%;
    -webkit-transform: translate(-10%, 0);
            transform: translate(-10%, 0);
  }
}
