* {
  box-sizing: border-box;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  @include flex-center;
  margin: 0 auto;
  background: linear-gradient(#0f2027, #203a43, #2c5364);
  background-size: cover;
  opacity: 0.8;
  font-family: "Comfortaa";
}


$innerColor: #dc1e1e;



.gallery-image-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px 300px;
  padding: 20px;
  margin-top: 20px;
 
}



.image-box{
  margin: 5px;
  display: inline-block;
  img{
    width: 100%;
    border: 1px dotted #fff;
    
  }
}
