* {
  box-sizing: border-box;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  @include flex-center;
  margin: 0 auto;
  background: linear-gradient(#0f2027, #203a43, #2c5364);
  background-size: cover;
  opacity: 0.8;
  font-family: "Comfortaa";
  /* overflow: hidden; */
  /*line below added because of viewport problem on chrome mobile*/
  height: calc(var(--mh, 1vh) * 100);
}


$innerColor: #dc1e1e;



.gallery-image-container {
  column-count: 3;
  padding: 20px;
  margin-top: 20px;
}

.image-box{
  margin: 5px;
  display: inline-block;
  img{
    width: 100%;
    border: 1px dotted $innerColor;
  border-radius: 10%;
  }
}
