* {
  box-sizing: border-box;
}

body {
  margin: 20px;
  background:  linear-gradient(#141e30, #243b55);
  background-size: 100%;
  font-family: "Comfortaa";
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 12rem;
  grid-gap: 10px;
  animation: fadeIn 2s;
  grid-auto-flow: dense;
  
}

$innerColor: #dc1e1e;

@mixin rightBottomBorder {
  border-bottom: 1px solid $innerColor;
  border-right: 1px solid $innerColor;
}

.gallery-image-container{
  height: 100%;
}

.image-item {
  width: 100%;
  height: 100%;
  position: relative;
  &:hover{
    .zoom-info {
      opacity: 0.8;
      animation: moveDown 0.3s linear;
    }
  }
}

.image-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include rightBottomBorder;
  box-shadow: 10px 10px 17px -8px rgba($innerColor, 0.5);
  img {
    display: block;
    object-position: 50% 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: zoom-in;
    transition: 0.5s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.zoom-info {
  width: 100%;
  height:auto;
  padding: 5px;
  text-align: center;
  opacity: 0;
  color: white;
  background-color: $innerColor;
  text-transform: uppercase;
  position: absolute;
  font-size: 1.5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-shadow: 1px 1px 8px black;
  pointer-events: none;
  z-index: 4;
  transition: 0.3s ease-in-out;
}

.width-col-1{
  grid-column: span 1;
}

.width-col-2{
  grid-column: span 2;
}

.height-row-1{
  grid-row: span 1;
}

.height-row-2{
  grid-row: span 2;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveDown {
  0%{
    top: 10%;
  }
  50%{
    top: 25%;
  }
  100%{
    top: 50%;
  }
  
}

@media screen and (max-width: 992px){
  .container{
  grid-template-columns: repeat(4, 1fr);


  }
}

@media screen and (max-width: 680px){
  .container{
  grid-template-columns: repeat(3, 1fr);


  }
}

@media screen and (max-width: 420px){
  .container{
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 18rem;
  }
  .image-box{
    img{
      &:hover{
        transform: scale(1.0);
      }
    }
  }
  .zoom-info{
    display: none;
  }

  .gallery-image-container{
    grid-row: span 1;
    grid-column: span 1;
    
  }
}