@import './style.scss';

.testDiv{
    @include flex-center;
    width: 200px;
    height: 100px;
    border: none;
}

.changeTestDiv-bottom{
    border-bottom: 1px solid red;
    transition: ease-in, delay 2s;
}

.changeTestDiv-leftAndRight{
    border-left: 1px solid red;
    border-right: 1px solid red;
    transition: ease-in, delay 2s;
}

.changeTestDiv-top{
    border-top: 1px solid red;
    transition: ease-in, delay 2s;
}
