body {
  margin: 0 auto;
  height: 100vh;
  background: url("../img/spices.jpg");
  background-size: cover;
  background-position: 100% 30%;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "mex";
  overflow: hidden;
}

.overlayHome {
  height: 100vh;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#0F2027), color-stop(#203A43), to(#2C5364));
  background: linear-gradient(#0F2027, #203A43, #2C5364);
  opacity: 0.8;
}

@font-face {
  src: url("../fonts/mexcellent 3d.ttf");
  font-family: "mex";
}

.innerBoxContainer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 85%;
  top: 10vh;
  cursor: pointer;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 18vw;
  height: 15vh;
  text-shadow: 1px 1px 2px #dc1e1e;
  border-radius: 30%;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  color: white;
  background: rgba(255, 255, 255, 0.3);
  letter-spacing: 10px;
  font-size: 1.75rem;
  -webkit-box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.808);
          box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.808);
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-animation: moveAbout 2s;
          animation: moveAbout 2s;
}

.about:hover {
  background-color: white;
  color: #dc1e1e;
  -webkit-transition: 1s;
  transition: 1s;
}

.recipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 18vw;
  height: 15vh;
  text-shadow: 1px 1px 2px #dc1e1e;
  border-radius: 30%;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  color: white;
  background: rgba(255, 255, 255, 0.3);
  letter-spacing: 10px;
  font-size: 1.75rem;
  -webkit-box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.808);
          box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.808);
  position: absolute;
  bottom: 0;
  left: 40%;
  -webkit-animation: moveRecipes 2s;
          animation: moveRecipes 2s;
}

.recipes:hover {
  background-color: white;
  color: #dc1e1e;
  -webkit-transition: 1s;
  transition: 1s;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 18vw;
  height: 15vh;
  text-shadow: 1px 1px 2px #dc1e1e;
  border-radius: 30%;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  color: white;
  background: rgba(255, 255, 255, 0.3);
  letter-spacing: 10px;
  font-size: 1.75rem;
  -webkit-box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.808);
          box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.808);
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-animation: moveGallery 2s;
          animation: moveGallery 2s;
}

.gallery:hover {
  background-color: white;
  color: #dc1e1e;
  -webkit-transition: 1s;
  transition: 1s;
}

.aboutShow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 18vw;
  height: 15vh;
  text-shadow: 1px 1px 2px #dc1e1e;
  border-radius: 30%;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  color: white;
  background: rgba(255, 255, 255, 0.3);
  letter-spacing: 10px;
  font-size: 1.75rem;
  -webkit-box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.808);
          box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.808);
}

.aboutShow:hover {
  background-color: white;
  color: #dc1e1e;
  -webkit-transition: 1s;
  transition: 1s;
}

.recipesShow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 18vw;
  height: 15vh;
  text-shadow: 1px 1px 2px #dc1e1e;
  border-radius: 30%;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  color: white;
  background: rgba(255, 255, 255, 0.3);
  letter-spacing: 10px;
  font-size: 1.75rem;
  -webkit-box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.808);
          box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.808);
  -ms-flex-item-align: center;
      align-self: center;
}

.recipesShow:hover {
  background-color: white;
  color: #dc1e1e;
  -webkit-transition: 1s;
  transition: 1s;
}

.galleryShow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 18vw;
  height: 15vh;
  text-shadow: 1px 1px 2px #dc1e1e;
  border-radius: 30%;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  color: white;
  background: rgba(255, 255, 255, 0.3);
  letter-spacing: 10px;
  font-size: 1.75rem;
  -webkit-box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.808);
          box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.808);
}

.galleryShow:hover {
  background-color: white;
  color: #dc1e1e;
  -webkit-transition: 1s;
  transition: 1s;
}

.containerShow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 30vh;
  right: 15vw;
  bottom: 5vh;
  left: 15vw;
  height: 55vh;
  width: 70vw;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

.title-text {
  position: absolute;
  top: 0;
  left: 50;
  font-size: 4rem;
  letter-spacing: 10px;
  color: white;
  text-shadow: 1px 1px 8px #dc1e1e;
  -webkit-animation: moveTitleText 2s;
          animation: moveTitleText 2s;
}

.title-textShow {
  position: absolute;
  top: -22vh;
  font-size: 4rem;
  letter-spacing: 10px;
  color: white;
  text-shadow: 1px 1px 8px #dc1e1e;
}

@-webkit-keyframes moveAbout {
  from {
    -webkit-transform: translate(-50%, -68%);
            transform: translate(-50%, -68%);
  }
  to {
    -webkit-transform: translate(95%, -68%);
            transform: translate(95%, -68%);
  }
}

@keyframes moveAbout {
  from {
    -webkit-transform: translate(-50%, -68%);
            transform: translate(-50%, -68%);
  }
  to {
    -webkit-transform: translate(95%, -68%);
            transform: translate(95%, -68%);
  }
}

@-webkit-keyframes moveGallery {
  from {
    -webkit-transform: translate(68%, -50%);
            transform: translate(68%, -50%);
  }
  to {
    -webkit-transform: translate(-95%, -68%);
            transform: translate(-95%, -68%);
  }
}

@keyframes moveGallery {
  from {
    -webkit-transform: translate(68%, -50%);
            transform: translate(68%, -50%);
  }
  to {
    -webkit-transform: translate(-95%, -68%);
            transform: translate(-95%, -68%);
  }
}

@-webkit-keyframes moveRecipes {
  from {
    -webkit-transform: translate(5%, 0);
            transform: translate(5%, 0);
  }
  to {
    -webkit-transform: translate(5%, -150%);
            transform: translate(5%, -150%);
  }
}

@keyframes moveRecipes {
  from {
    -webkit-transform: translate(5%, 0);
            transform: translate(5%, 0);
  }
  to {
    -webkit-transform: translate(5%, -150%);
            transform: translate(5%, -150%);
  }
}

@-webkit-keyframes moveTitleText {
  from {
    -webkit-transform: translate(81%, 0);
            transform: translate(81%, 0);
  }
  to {
    -webkit-transform: translate(81%, 80%);
            transform: translate(81%, 80%);
  }
}

@keyframes moveTitleText {
  from {
    -webkit-transform: translate(81%, 0);
            transform: translate(81%, 0);
  }
  to {
    -webkit-transform: translate(81%, 80%);
            transform: translate(81%, 80%);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes moveAboutMobile {
  from {
    -webkit-transform: translate(55%, 200%);
            transform: translate(55%, 200%);
  }
  to {
    -webkit-transform: translate(55%, -105%);
            transform: translate(55%, -105%);
  }
}

@keyframes moveAboutMobile {
  from {
    -webkit-transform: translate(55%, 200%);
            transform: translate(55%, 200%);
  }
  to {
    -webkit-transform: translate(55%, -105%);
            transform: translate(55%, -105%);
  }
}

@-webkit-keyframes moveRecipesMobile {
  from {
    -webkit-transform: translate(-45%, 250%);
            transform: translate(-45%, 250%);
  }
  to {
    -webkit-transform: translate(-45%, -140%);
            transform: translate(-45%, -140%);
  }
}

@keyframes moveRecipesMobile {
  from {
    -webkit-transform: translate(-45%, 250%);
            transform: translate(-45%, 250%);
  }
  to {
    -webkit-transform: translate(-45%, -140%);
            transform: translate(-45%, -140%);
  }
}

@-webkit-keyframes moveGalleryMobile {
  from {
    -webkit-transform: translate(-72%, 250%);
            transform: translate(-72%, 250%);
  }
  to {
    -webkit-transform: translate(-72%, 190%);
            transform: translate(-72%, 190%);
  }
}

@keyframes moveGalleryMobile {
  from {
    -webkit-transform: translate(-72%, 250%);
            transform: translate(-72%, 250%);
  }
  to {
    -webkit-transform: translate(-72%, 190%);
            transform: translate(-72%, 190%);
  }
}

@-webkit-keyframes moveTitleTextMobile {
  from {
    -webkit-transform: translate(25%, -250%);
            transform: translate(25%, -250%);
  }
  to {
    -webkit-transform: translate(25%, 50%);
            transform: translate(25%, 50%);
  }
}

@keyframes moveTitleTextMobile {
  from {
    -webkit-transform: translate(25%, -250%);
            transform: translate(25%, -250%);
  }
  to {
    -webkit-transform: translate(25%, 50%);
            transform: translate(25%, 50%);
  }
}

@-webkit-keyframes moveTitleTextMobileHorizontal {
  from {
    -webkit-transform: translate(-2%, 140%);
            transform: translate(-2%, 140%);
  }
  to {
    -webkit-transform: translate(-2%, 200%);
            transform: translate(-2%, 200%);
  }
}

@keyframes moveTitleTextMobileHorizontal {
  from {
    -webkit-transform: translate(-2%, 140%);
            transform: translate(-2%, 140%);
  }
  to {
    -webkit-transform: translate(-2%, 200%);
            transform: translate(-2%, 200%);
  }
}

@-webkit-keyframes moveAboutMobileHorizontal {
  from {
    -webkit-transform: translate(0%, -60%);
            transform: translate(0%, -60%);
  }
  to {
    -webkit-transform: translate(50%, -60%);
            transform: translate(50%, -60%);
  }
}

@keyframes moveAboutMobileHorizontal {
  from {
    -webkit-transform: translate(0%, -60%);
            transform: translate(0%, -60%);
  }
  to {
    -webkit-transform: translate(50%, -60%);
            transform: translate(50%, -60%);
  }
}

@-webkit-keyframes moveRecipesMobileHorizontal {
  from {
    -webkit-transform: translate(-10%, 0%);
            transform: translate(-10%, 0%);
  }
  to {
    -webkit-transform: translate(-10%, -50%);
            transform: translate(-10%, -50%);
  }
}

@keyframes moveRecipesMobileHorizontal {
  from {
    -webkit-transform: translate(-10%, 0%);
            transform: translate(-10%, 0%);
  }
  to {
    -webkit-transform: translate(-10%, -50%);
            transform: translate(-10%, -50%);
  }
}

@-webkit-keyframes moveGalleryMobileHorizontal {
  from {
    -webkit-transform: translate(0%, -66%);
            transform: translate(0%, -66%);
  }
  to {
    -webkit-transform: translate(-55%, -66%);
            transform: translate(-55%, -66%);
  }
}

@keyframes moveGalleryMobileHorizontal {
  from {
    -webkit-transform: translate(0%, -66%);
            transform: translate(0%, -66%);
  }
  to {
    -webkit-transform: translate(-55%, -66%);
            transform: translate(-55%, -66%);
  }
}

@media screen and (max-width: 1080px) {
  .title-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 35px;
    margin-left: 10px;
    width: 100vw;
    font-size: 3rem;
    -webkit-animation: moveTitleTextMobileHorizontal 2s;
            animation: moveTitleTextMobileHorizontal 2s;
  }
  .title-textShow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
    margin-left: 10px;
    width: 100vw;
    font-size: 3rem;
  }
  .about,
  .aboutShow,
  .recipes,
  .recipesShow,
  .gallery,
  .galleryShow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 25vw;
    height: 20vh;
    margin: -10px;
    color: white;
    letter-spacing: 10px;
    border-radius: 30%;
    font-size: 1rem;
    -webkit-box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.75);
  }
  .about {
    -webkit-animation: moveAboutMobileHorizontal 2s;
            animation: moveAboutMobileHorizontal 2s;
  }
  .recipes {
    -webkit-animation: moveRecipesMobileHorizontal 2s;
            animation: moveRecipesMobileHorizontal 2s;
  }
  .gallery {
    -webkit-animation: moveGalleryMobileHorizontal 2s;
            animation: moveGalleryMobileHorizontal 2s;
  }
}

@media screen and (max-width: 420px) {
  .recipes,
  .recipesShow {
    -ms-flex-item-align: normal;
        -ms-grid-row-align: normal;
        align-self: normal;
  }
  .about,
  .aboutShow,
  .recipes,
  .recipesShow,
  .gallery,
  .galleryShow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40vw;
    height: 12vh;
    color: white;
    border-radius: 30%;
    margin: 15px;
    font-size: 1rem;
    -webkit-box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.75);
  }
  .about {
    -webkit-animation: moveAboutMobile 2s;
            animation: moveAboutMobile 2s;
  }
  .recipes {
    -webkit-animation: moveRecipesMobile 2s;
            animation: moveRecipesMobile 2s;
  }
  .gallery {
    -webkit-animation: moveGalleryMobile 2s;
            animation: moveGalleryMobile 2s;
  }
  .innerBoxContainer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: 85%;
    top: 10vh;
    cursor: pointer;
  }
  .title-text {
    width: 60%;
    font-size: 2rem;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
    letter-spacing: 1rem;
    -webkit-animation: moveTitleTextMobile 2s;
            animation: moveTitleTextMobile 2s;
  }
  .title-textShow {
    width: 60%;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1rem;
  }
}
