*{
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  background: url("../img/spices.jpg");
  background-size: cover;
  background-position: 100% 30%;
  font-family: "Comfortaa";
  overflow: hidden;
  /*line below added because of viewport problem on chrome mobile*/
  height: calc(var(--mh, 1vh) * 100);
}

$innerColor: #dc1e1e;


@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlayMain {
  padding-top: 25px;
  background: linear-gradient(#0f2027, #203a43, #2c5364);
  background-size: cover;
  opacity: 0.9;
  height: 100%;
}
  

@mixin rightBottomBorder {
  border-bottom: 1px solid $innerColor;
  border-right: 1px solid $innerColor;
}

@mixin cardProp {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 75%;
  margin-top: 15px;
  margin-left: 10px;
  border-radius: 10%;
  color: white;
  text-shadow: 1px 1px 8px $innerColor;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 10px 10px 17px -8px rgba($innerColor, 0.5);
  @include rightBottomBorder;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  &:hover {
    height: 90%;
    img {
      transform: scale(1.5);
    }
    .click-info {
      display: block;
      animation: fadeIn 1s;
    }
  }
}

.item-img-box {
  @include flex-center;
  width: 70%;
  height: 55%;
  align-self: center;
  margin-top: 5%;
  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    object-fit: cover;
  }
}

.item-description {
  height: 20%;
  width: 95%;
  align-self: center;
  font-size: 1.2em;
  text-align: center;
}

.click-info {
  margin-top: 15%;
  display: none;
  position: relative;
  text-align: center;
  &::after{
    content:"Click to show recipe";
  }
}

.grid-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2.5fr;
  grid-template-rows: 1fr 1fr;
  animation: fadeIn 2s;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6 {
  @include cardProp;
}

.myRecipes {
  @include rightBottomBorder;
  height: 89%;
  grid-row: 1 / 3;
  grid-column: 4 / 5;
  color: red;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  margin: 10px 20px 60px 10px;
  border-radius: 10%;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  img{
    margin-bottom: 20%;
    max-width: 70%;
    max-height: 50%;
    border-radius: 50%;
  }
  p {
    margin: 30px 0px 30px 0px;
    font-size: 4em;
    text-shadow: 1px 1px 8px $innerColor;
  }
}

.showRecipe {
  @include rightBottomBorder;
  height: 89%;
  grid-row: 1 / 3;
  grid-column: 4 / 5;
  color: red;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  margin: 10px 10px 10px 10px;
  border-radius: 10%;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .img-box{
    height: 40%;
    width: 50%;
    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
  
  p {
    font-size: 4em;
    text-shadow: 1px 1px 8px $innerColor;
  }
}

.button-box{
  width: 100%;
  height: auto;
  @include flex-center;
  .back-button {
  background: url("../img/back.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 50%;
  &:hover {
    background-color: $innerColor;
  }
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}



@media screen and (max-width: 1350px) {
  
  body{
    overflow: visible;
  }

  .overlayMain{
    height: auto;
  }

  .grid-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
  }


  .item1,
.item2,
.item3,
.item4,
.item5,
.item6 {
  img{
    max-width: auto;
    max-height: auto;
    align-self: center;
    &:hover{
      transform: scale(1.1);
    }
  }
}

.item-img-box{
  margin-top: 10%;
  align-items: center;
}


.item-description{
  height: 20%;
}

.click-info{
  margin-top: 5%;
}

  .item3 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  .item4 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  .item5 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  .item6 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
  }

  .showRecipe {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
  }
}


@media screen and (max-width: 772px){
  .grid-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr;
  }


  .item5{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  .item6{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }

  .showRecipe{
    grid-row: 4 / 5;
    grid-column: 1 / 3;
  }

  }

  @media screen and (max-width: 772px){
    body{
      font-size: 70%;
    }

    .item-img-box{
      margin-top: 5%;
    }
  }

  @media screen and (max-width: 772px){
    .item1, .item2, .item3, .item4, .item5, .item6{
      height: 90%;
      &:hover{
        img{
        transform: scale(1.2);
        }
      }
    }
    .click-info{
      display: block;
      font-size: 100%;
      margin-top: 10%;
      &:after{
        content: "Touch to show recipe";
      }
    }
  }