body {
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  background: url("../img/spices.jpg");
  background-size: cover;
  background-position: 100% 30%;
  font-family: "Comfortaa";
  overflow: hidden;
  /*line below added because of viewport problem on chrome mobile*/
  height: calc(var(--mh, 1vh) * 100);
}

.overlayMain {
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#0f2027), color-stop(#203a43), to(#2c5364));
  background: linear-gradient(#0f2027, #203a43, #2c5364);
  background-size: cover;
  opacity: 0.9;
}

.item-img-box {
  width: 70%;
  height: 55%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 5%;
}

.item-img-box img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.item-description {
  height: 35%;
  width: 95%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.2em;
  text-align: center;
}

.click-info {
  top: 0;
  display: none;
  position: relative;
  text-align: center;
}

.grid-wrapper {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 2.5fr;
      grid-template-columns: 1fr 1fr 1fr 2.5fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  height: 80%;
  margin-top: 5%;
  margin-left: 5%;
  border-radius: 10%;
  color: white;
  text-shadow: 1px 1px 8px #dc1e1e;
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #dc1e1e;
  border-right: 1px solid #dc1e1e;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.item1:hover,
.item2:hover,
.item3:hover,
.item4:hover,
.item5:hover,
.item6:hover {
  height: 95%;
}

.item1:hover img,
.item2:hover img,
.item3:hover img,
.item4:hover img,
.item5:hover img,
.item6:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.item1:hover .click-info,
.item2:hover .click-info,
.item3:hover .click-info,
.item4:hover .click-info,
.item5:hover .click-info,
.item6:hover .click-info {
  display: block;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

.showRecipe {
  border-bottom: 1px solid #dc1e1e;
  border-right: 1px solid #dc1e1e;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  color: red;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  margin: 2% 2% 8% 2%;
  cursor: pointer;
  border-radius: 10%;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media screen and (max-width: 1350px) {
  body {
    font-size: 80%;
  }
}

@media screen and (max-width: 1350px) {
  .grid-wrapper {
    -ms-grid-columns: 1fr 1fr 1.5fr;
        grid-template-columns: 1fr 1fr 1.5fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  .item3 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .item4 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .item5 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .item6 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .showRecipe {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / 4;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
}
