* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Lato;
  margin: 0 auto;
  overflow: hidden;
  line-height: 1.5;
}

.container {
  height: 100vh;
  width: 100vw;
  /*line below added because of viewport problem on chrome mobile*/
  height: calc(var(--mh, 1vh)*100);
  margin: 0;
  padding: 0;
  left: 0;
}

.background-video {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.media-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

.media-box video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
  /*line below added because of viewport problem on chrome mobile*/
  height: calc(var(--mh, 1vh)*100);
  z-index: 1;
  opacity: 0.8;
  background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#dd1818));
  background: linear-gradient(#333333, #dd1818);
}

.overlay-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 15%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid white;
  border-left: 1px solid white;
  opacity: 0.9;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.overlay-inner p {
  opacity: 1;
  padding-top: 5px;
  margin: 0;
  color: white;
}

@media only screen and (min-aspect-ratio: 16 / 9) {
  .container {
    max-height: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-aspect-ratio: 16 / 9) {
  .container {
    max-height: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .overlay-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 60%;
    height: 10%;
    font-size: 1em;
    letter-spacing: 1px;
  }
  .overlay-inner p {
    padding: 50px;
  }
  .media-box video {
    visibility: hidden;
  }
  .media-box {
    height: 100%;
    background: url("/img/cut_img.png");
    background-size: 100% 100%;
  }
}

@media only screen and (max-width: 420px) {
  .overlay-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    height: 10%;
    font-size: 1em;
    letter-spacing: 1px;
  }
  .overlay-inner p {
    padding: 10px;
  }
  .media-box {
    background: url("/img/cut_img_vert.png");
    background-size: 100% 100%;
  }
  .media-box video {
    visibility: hidden;
  }
}
